/* .sidebar {
    background-color: #f8f9fa;
    height: 100vh;
}

.main-content {
    height: 100vh;
}

.sidebar .nav-item {
    margin-bottom: 10px;
}

.sidebar .nav-link {
    color: #333;
}

.sidebar .nav-link:hover {
    color: #000;
} */
